
body {
    font-family: Arial, sans-serif;
    background: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.container {
    width: 400px;
    max-width: 700px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
}

.drop-area {
    border: 2px groove #888;
    border-radius: 12px;
    padding: 30px;
    text-align: center;
    cursor: pointer;
    background: #fafafa;
}

.drop-area.dragover {
    background: #e0f3ff;
    border-color: #2196f3;
}

.thumbs {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
}

.thumb {
    width: 120px;
    height: 120px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    cursor: grab;
    background: #fff;
}

.thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#editpdf{
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    font-size: 18px;
    background: #303437;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#Downloadbutton {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    font-size: 18px;
    background: #2196f3;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#Downloadbutton:hover {
    background: #0b7dda;
}

#editpdf:hover {
    background: #555;
}

/* Modal and Edit Styles */
button {
    transition: background 0.3s ease;
}

button:hover {
    opacity: 0.9;
}
